body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-bottom: 100px;
}

.collapse {
    justify-content: flex-end;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, rgb(53, 51, 52) 0%, rgb(26, 23, 24) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-footer {
    border-color: white;
    border-top: none;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 20px;
}

.carousel-item {
    padding: 80px 40px;
}

.price {
    color: rgb(12, 11, 11);
}

.stext h5 {
    text-align: right;
    color: orange;
}

.carousel-item {
    padding: 80px 40px;
}

.card img {
    height: 50%;
}

.card p {
    color: gray;
}

.categories h2 {
    text-align: center;
}

h4 {
    text-align: center;
}